<!--<header class="navbar navbar-expand-lg navbar-light bg-light">
  <a center class="navbar-brand" href="#">Customer CRUD operations</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>-->
<div class="col-12" style="background:black; min-height:730px;">
<div class="container"  >
  <br>
  <div class="row">
    <div class="offset-4 col-8">
      <img src="assets/onlineexam2.jpg" alt="MOOC" style="width: 350px" height="190">
    </div>
  </div>

  <form   name="myForm" method="get"  style="min-height:380px;background:white;margin-top: 2%; border-style: solid; padding-top: 5%;padding-bottom: 5%;z-index: 2;" class="offset-1 col-10 lform" >
    <div class="row">
      <div class="offset-2 col-10">
        <input type="button" value="Student Login" (click)="onStudentSignUp()" class="offset-1 col-8 lbutton btn btn-primary" style="cursor: pointer;margin-top: 4%;background-color: darkblue;min-height: 75px;font-size: xx-large;font-weight: bolder;">

      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-10">
        <input type="button" value="Faculty Login" (click)="onFacultySignUp()" class="offset-1 col-8 lbutton btn btn-primary" style="cursor: pointer;margin-top: 7%;background-color: darkblue;min-height: 75px;font-size: xx-large;font-weight: bolder">
      </div>
    </div>

  </form>

</div>
</div>
